.product-table-container {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 2px 0px;
  }
  
  .product-column {
    width: 50%;
    text-align: left;
  }
  
  .quantity-column, .expiry-column, .mrp-column, .total-column, .action-column {
    width: 10%;
    text-align: left;
  }
  
  .scroll-container {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .scroll-container .table {
    width: calc(100%);
  }
  
  .scroll-container .table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  
  .scroll-container::-webkit-scrollbar {
    width: 8px;
    }
    
    .scroll-container::-webkit-scrollbar-track {
        background: #f1f1f1;
    } 
    
    .scroll-container::-webkit-scrollbar-thumb { 
        background: #888;
        border-radius: 10px;
    } 
    
    .scroll-container::-webkit-scrollbar-thumb:hover { 
        background: #555;
    }
    
    .scroll-container::-webkit-scrollbar:horizontal {
        height: 0;
    }